.whatsfont {
  /* width: 26px;
  height: 10px; */
  color: #ffffff;
  font-family: "Gilroy ☞";
  font-size: 5px;
  font-weight: 700;
  line-height: 10px;
}

.welcomebg {
  background-image: radial-gradient(#4074ea 0%, #7847a3 100%);
}

.butoncolour {
  background-color: #4074ea;
}

.sliderbg {
  background-color: #6a1dbf;
}

.cardbg {
  background-color: #495ee1;
}
