.whatsfont {
  /* width: 26px;
  height: 10px; */
  color: #ffffff;
  font-family: "Gilroy ☞";
  font-size: 5px;
  font-weight: 700;
  line-height: 10px;
}

.welcomebg {
  background-image: radial-gradient(#4074ea 0%, #7847a3 100%);
}

.butoncolour {
  background-color: #4074ea;
}

.sliderbg {
  background-color: #6a1dbf;
}

.cardbg {
  background-color: #495ee1;
}

.four {
  background: rgb(64, 116, 234);
  background: linear-gradient(
    90deg,
    rgba(64, 116, 234, 1) 0%,
    rgba(53, 103, 217, 1) 100%
  );
}

.fourillustration {
  bottom: -61px;
  right: 0;
}

.navbuttoncolor {
  color: #272727;
}

.helvetica {
  font-family: Helvetica;
}

.heading {
  color: #1e1e1e;
  font-family: "Gilroy ☞";
  font-family: Helvetica;
}
